body{
 background-color: #F7F7FF;   
}

.navbar{
 background-color: #151E3F;
}

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #A9DEF9;  /*Sets the text hover color on navbar*/
}
h3{
 text-align: center;   
}

#txtAdd {
  width:40rem;
}

#txtJoin {
  width:40rem;
}
.form{
  margin-bottom: 20px;  
  margin-left: 30%; 
}
.form-group{
 float: left !important;  
 margin-left: 10px;
 margin-right: 5px;
 
}

.highlighted{
    background-color: lightyellow;
}

.list-user{
   min-height: 40px; 
}

.pos{
   float: left; 
}

.x-btn{
   position: absolute;
    top: 2px;
    right: 2px;
    bottom:2px;
    z-index: 100;  
}

#btnAdd
{
   background-color: #FF6663;
    border-color: #CC4747; 
}

#btnJoin{
   background-color: #FF6663;
    border-color: #CC4747; 
}

.selected{
    background-color: #FF6663;
    border-color: #CC4747;
}

.selected:hover{
    background-color: #CC4747;
    border-color: #CC4747;
}

.queue-panel{
   width: 500px;
  min-height: 170px;
}

.bordered {
  border: 2px solid #ccc;
}
